/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 2px solid red;
}
html {
  font-size: 62.5%;
}
h1 {
  color: black;
  font-size: 5rem;
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 3.2rem;
  font-family: 'Electrolize', sans-serif;
  color: black;
}
h3 {
  font-family: 'Jaldi', sans-serif;
}
h4 {
  font-family: 'Farro', sans-serif;
}
a {
  font-size: 1.8rem;
  font-family: 'Farro', sans-serif;
}
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Electrolize'), local('Electrolize-Regular'), url(https://fonts.gstatic.com/s/electrolize/v8/cIf5Ma1dtE0zSiGSiED7AXEBuIo.ttf) format('truetype');
}
@font-face {
  font-family: 'Farro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Farro Regular'), local('Farro-Regular'), url(https://fonts.gstatic.com/s/farro/v1/i7dEIFl3byGNHaVKFr4.ttf) format('truetype');
}
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Jaldi'), local('Jaldi-Regular'), url(https://fonts.gstatic.com/s/jaldi/v6/or3sQ67z0_CI33NTbJQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Russo One'), local('RussoOne-Regular'), url(https://fonts.gstatic.com/s/russoone/v8/Z9XUDmZRWg6M1LvRYsHOz8mM.ttf) format('truetype');
}
nav {
  display: flex;
  background-color: #FF5700;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}
nav .header-img {
  display: flex;
  align-items: center;
  width: 75%;
  padding: 10px;
}
@media (max-width: 500px) {
  nav .header-img {
    width: 100%;
    justify-content: center;
  }
}
nav .header-img h2 {
  font-weight: bold;
  padding-left: 15px;
}
nav .header-img img {
  width: 4%;
  transform: rotate(-90deg);
}
@media (max-width: 500px) {
  nav .header-img img {
    width: 8%;
  }
}
nav .links {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  nav .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }
}
nav .links a {
  text-decoration: none;
  color: white;
}
nav .links a:hover {
  color: #FFB100;
}
@media (max-width: 500px) {
  nav .links a {
    text-align: center;
    padding: 2% 0;
    width: 100%;
    color: grey;
    border-top: 1px solid grey;
  }
}
nav .links i {
  font-size: 3rem;
  color: white;
}
nav .links i:hover {
  color: #FFB100;
}
@media (max-width: 500px) {
  nav .links i {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    padding: 2% 0;
    color: grey;
    border-top: 1px solid grey;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
}
.container-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFEFED;
}
.container-icon img {
  width: 15%;
  padding-top: 25px;
  transform: rotate(-90deg);
}
.container-icon h1 {
  padding: 25px 0;
}
.mid-and-below {
  width: 100%;
  background-color: #336699;
}
.mid-and-below .mid-content-contents {
  padding: 6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.mid-and-below .mid-content-contents button {
  border-radius: 10px;
  font-size: 6rem;
  background-color: #FF5700;
  border: 2px solid salmon;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px coral, 1px 2px 5px whitesmoke;
}
.mid-and-below .mid-content-contents button:hover {
  background-color: #FFB100;
}
.mid-and-below .mid-content-contents p {
  width: 80%;
  font-size: 2rem;
  padding: 2%;
  color: white;
}
footer .bottom-red-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
  background: lightcoral;
  background-color: #FF5700;
}
footer .bottom-red-box small {
  color: white;
  padding: 2%;
}
* {
  border: 2px solid red !important;
}
.boxes {
  width: 20vw;
  height: 35vh;
  border: 1px solid red;
  background: coral;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.about-container {
  height: 150vh;
  background-image: url("/img/gradient2.jpg");
}
.box1 {
  margin: 3% 0 3% 0;
}
.box2 {
  margin: 3% 0 3% 0;
}
.box3 {
  margin: 3% 0 3% 0;
}
.box4 {
  margin: 3% 0 3% 0;
}
.box5 {
  margin: 3% 0 3% 0;
}
.box6 {
  margin: 3% 0 3% 0;
}
.box7 {
  margin: 3% 0 3% 0;
}
.box8 {
  margin: 3% 0 3% 0;
}
.box9 {
  margin: 3% 0 3% 0;
  margin-bottom: 8%;
}
.box10 {
  margin: 3% 0 3% 0;
  margin-bottom: 8%;
}
.all-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
