


    .boxes{
        width: 20vw;
        height: 35vh;
        border:3px solid orange;
        background: coral;
        //z-index: 3;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        img{
            margin-bottom: 2%;
            width: 50%;
            @media @phone{
                width: 40%;
                margin-right: 5%;
            }
            
        }
        h4{
            margin-bottom: 2%;
        }
        i{
            
            font-size: 4rem;
        }
        @media @phone{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:30%;
            height: 35%;
        }
        @media @tablet{
            width: 20vw;
            height: 30vh;
        }
        
        
    }

    .about-container{
        .flex-column-ctr();
       height: 170vh;
       background-image: url("/img/gradient2.jpg");
        @media @phone {
            height: 480vh;
        }
        
    }

    .upper-content{
        margin-top: 5%;
        .flex-column-ctr();
        width: 80%;
        color: white;
        h2{
            color: white;
        }
        @media @tablet{
            margin-bottom: 3%;
        }
    }
    
.box1{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    @media @phone{
        width: 90%;
        display: flex;
        
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
    }
    
 
}

.box2{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    @media @phone{
        width: 90%;
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
        margin-top: 0;
    }
    img{
        @media @tablet{
            margin-top: 12%;
        }
    }
}

.box3{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    @media @phone{
        width: 90%;
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        align-items: center;
        text-align: center;
    }
}
.box4{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    @media @phone{
        width: 90%;
    }
    img{
        width: 40%;
        @media @phone{
            width: 30%
        }
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
    }
    img{
        @media @tablet{
            margin-top: 12%;
        }
}
}
.box5{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    @media @phone{
        width: 90%;
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
    }
}
.box6{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    @media @phone{
        width: 90%;
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
    }
}
.box7{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    @media @phone{
        width: 90%;
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
    }
}
.box8{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    @media @phone{
        width: 90%;
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
    }
}
.box9{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-bottom: 8%;
    @media @phone{
        width: 90%;
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
    }
}
.box10{
    .padding-for-boxes();
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-bottom: 8%;
    @media @phone{
        width: 90%;
    }
    @media @tablet{
        margin: 0;
        margin-right: 2%;
        text-align: center;
    }
}

    .all-boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        @media @phone{
            flex-direction: column;
            max-width: 100%;
            flex-wrap: nowrap;
            align-items: center;
        }
        @media @tablet{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
    }

   

    // footer{
    //     .bottom-red-box{
    //             position: absolute;
    //             bottom: 45%;
    //     }
    // }
    
