*{
    border: 2px solid red !important;
}



    .boxes{
        width: 20vw;
        height: 35vh;
        border:1px solid red;
        background: coral;
        //z-index: 3;
        display: flex;
        align-content: space-between;
    }
    .about-container{
       height: 150vh;
        background-image: url("/img/gradient2.jpg")
    }
.box1{
    .padding-for-boxes();
    
}
.box2{
    .padding-for-boxes();
}
.box3{
    .padding-for-boxes();
}
.box4{
    .padding-for-boxes();
}
.box5{
    .padding-for-boxes();
}
.box6{
    .padding-for-boxes();
}
.box7{
    .padding-for-boxes();
}
.box8{
    .padding-for-boxes();
}
.box9{
    .padding-for-boxes();
    margin-bottom: 8%;
}
.box10{
    .padding-for-boxes();
    margin-bottom: 8%;
}

    .all-boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    // footer{
    //     .bottom-red-box{
    //             position: absolute;
    //             bottom: 45%;
    //     }
    // }
    
