// General Styles
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    
font-family: 'Russo One', sans-serif;
}

h2 {
    font-family: 'Electrolize', sans-serif;
}

h3 {
    font-family: 'Jaldi', sans-serif;
}

h4 {
    font-family: 'Farro', sans-serif;
}

p {
    line-height: 1.4;
}





