.container-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-container();
    

    img {
        width: 15%;
        padding-top: 25px;
    } // ends img

    h1 {
        padding: 25px 0;
    }


} // ends .container-icon