.large-img-container {
    .icon-container();
}

.container-icon {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 5% 0;

    @media @phone {
        display: flex;
        flex-direction: column-reverse;
    }
    

    img {
        width: 35%;
        
        @media @phone {
            padding-top: 5%;
            width: 95%;
        } // ends media for img
    } // ends img

    h1 {
        padding: 25px 0;
        color: white;

    } // ends h1

    p {
        color: white;
        width: 35%;
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;

        @media @phone {
            font-size: 1.6rem;
            width: 95%;
        }
        @media @desktop{
            font-size: 1.8rem;
        }
    }


} // ends .container-icon


.mid-and-below{
    width: 100%;
    background-color: #336699;
    
         }

        .mid-content-contents{
            padding: 3% 6%;
            .flex-column-ctr();
            width: 75%;
            margin: 0 auto;

            @media @phone {
                width: 100%;
            }

            button{
                // width: 25vw;
                border-radius: 10px;
                font-size: 3.5rem;
                // background-color: lightcoral;
                background-color: #FF5700;
                border:2px solid white;
                font-family: 'Roboto Mono', monospace;
                color: white;
                // padding: 0 4%;
                // text-shadow: 1px 1px 2px black, 0 0 25px coral, 1px 2px 5px whitesmoke;

                &:hover {
                    background-color: #FFB100;
                }
            }

            p{
                text-align: center;
                width: 80%;
                font-size: 3.5rem;
                padding: 2%;
                padding-bottom: 3%;
                color: white;
                font-family: 'Ubuntu', sans-serif;

                @media @phone {
                    width: 100%;
                    font-size: 1.8rem;
                    padding: 3% 0;
                    // line-height: 2.5rem;
                }
                @media @desktop{
                    font-size: 2rem;
                }
            }
        }
       
    
   

footer{
    .bottom-red-box{
    .flex-column-ctr();
    font-size: 1.6rem;
    width: 100%;
    background-color: white;

    small{
        color: black;
        font-family: 'Ubuntu', sans-serif;

        @media @phone {
            padding: 5% 0;
        }

    }

    }
}

