.display(@justify) {
    display: flex;
    justify-content: @justify;
    align-items: center;
}

.nav-bg(){
    background-color: #F08080;
    
}

.icon-container() {
    background-color: #EFEFED;
    border-top: 2px dashed #FF5700;
}

.media-border(){
    border-top: 1px solid grey;
}


