// Navigation code here
nav {
    display: flex;
    .nav-bg();

    .icon-link {
        width: 5%;

    }


    h2 {
        color: black;
    }

    @media @phone {
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        
    } // ends media for nav

.header-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    padding: 5px;
   
    @media @phone {
        width: 100%;
        justify-content: center;

    }// ends media for .header-img

    h2 {
        font-weight: bold;
        padding-left: 10px;

    }

img {
    
    width: 100%;

    @media @phone {
    width: 100%;
    }

} // ends img

} // ends .header-img

.links {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media @phone {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        
    } // ends media for .links

a {
    text-decoration: none;
    color: linear-gradient(180deg, #333355 26.03%, rgba(51, 51, 85, 0.85) 100%);
    
    &:hover {
        color: rgb(0, 24, 34);
    }

    @media @phone {
        text-align: center;
        padding: 2% 0;
        width: 100%;
        color: grey;
        .media-border();

    }// ends media for a

} //ends a

} // ends links

} // ends nav

