// Navigation code here
nav {
    display: flex;
    .nav-bg();

    h2 {
        // color: white;
        color: black;
    }

    @media @phone {
        display: flex;
        flex-direction: column;
        
    } // ends media for nav

.header-img {
    display: flex;
    align-items: center;
    width: 75%;
    padding: 10px;
   
    @media @phone {
        width: 100%;
        justify-content: center;
    }// ends media for .header-img

    h2 {
        font-weight: bold;
        padding-left: 15px;

    }

img {
    width: 4%;
    transform: rotate(-90deg);
    @media @phone {
        width: 8%;
    }

} // ends img

} // ends .header-img

.links {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media @phone {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: black;
        
    } // ends media for .links

a {
    text-decoration: none;
    color: black;
    
    &:hover {
        color: #FFB100;
    }

    @media @phone {
        text-align: center;
        padding: 2% 0;
        width: 100%;
        color: grey;
        .media-border();
    }// ends media for a

} //ends a

i {
    font-size: 3rem;
    color: black;

    &:hover {
        color: #FFB100;
    }

    @media @phone {
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
        padding: 2% 0;
        color: grey;
        border-top: 1px solid grey;
    }

} // ends i

} // ends links

} // ends nav

